* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
}

body {
  background-color: rgb(53, 13, 53);
}

header {
  width: 100%;
  height: 80px;
  background-color: rgb(0, 0, 0);
  color: white;
}

header nav {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style: none;
  column-gap: 40px;
}

header nav ul li {
  font-size: 22px;
  font-weight: 600;
}

.movies {
  width: 90%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popular-movies {
  color: white;
  text-align: center;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 35px 0;
  gap: 50px;
}

.movie-card {
  width: 230px;
  height: 300px;
  text-align: center;
  border: 3px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.movie-card img {
  min-height: 300px;
  object-fit: cover;
  object-position: center;
}

.movie-name {
  font-size: 14px;
  text-align: start;
  color: white;
  position: absolute;
  bottom: 70px;
  background-color: black;
  width: 100%;
  padding: 15px;
}

.movie-average {
  font-size: 16px;
  color: white;
  background-color: rgb(4, 0, 0);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.movie-button {
  margin: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.movie-button:hover {
  background-color: rgb(17, 10, 10);
}

/* Pagination  */
.paging {
  list-style: none;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.paging li a {
  cursor: pointer;
  color: white;
  font-size: 14px;
  font-weight: 600;
  background-color: black;
  padding: 5px 10px;
  border-radius: 5px;
}

.paging li a:hover {
  background-color: rgb(237, 0, 0);
}

.active-paging {
  background-color: red !important;
}

/* Movie Details */
.movie-details {
  width: 90%;
  margin: 40px auto;
}

.movie-title {
  font-size: 30px;
  font-weight: 700;
  margin: 10px 0;
  color: white;
}

.movie-details img {
  width: 100%;
  height: 400px;
  object-position: center;
  border-radius: 4px;
}

.movie-overview {
  color: rgb(157, 156, 156);
  font-weight: 600;
  max-width: 700px;
}

.movie-release {
  font-size: 14px;
  margin: 10px 0;
  color: white;
  font-weight: 700;
}

.go-back {
  width: 150px;
  border: 0;
  border-radius: 4px;
  padding: 10px;
  transition: all 0.3s;
  cursor: pointer;
  background-color: rgb(62, 61, 61);
  font-weight: 600;
}

.go-back:hover {
  background-color: black;
  color: white;
}
